@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

html {
  font-size: 62.5%; /* Now 10px = 1rem! */
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
body {
  font-size: 1.2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
