@import "../../../Styles/vars.scss";
.container {
  display: flex;
  align-items: center;
  z-index: 90;
}
.btn__start {
  border-radius: 35px;
}
.container__info h4,
p {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.container:hover {
  cursor: pointer;
  background-color: $primary;
  opacity: 0.8;
  color: #fff;
}
.btn_yellow {
  color: yellow;
}
.start__border {
  font-size: 2.8rem !important;
}
.btn_white {
  color: white;
}
.container__img {
  height: 80px;
  width: 80px;
  object-fit: contain;
}
.container__info {
  margin-left: 20px;
}
.container__info p {
  margin-top: 3px;
  color: lightgray;
}
@media screen and (min-width: 768px) {
  .container {
    width: 205px;
    display: flex;
    flex-wrap: wrap;
    background-color: #141414;
  }
  .container:hover {
    background-color: #161313;
  }
  .container:focus {
    background-color: #161313;
  }
  .container__img {
    width: 200px;
    height: 230px;
  }
}
