.footer {
  position: fixed;
  bottom: 0;
  height: 80px;
  width: 100vw;
  background-color: #181818;
  color: #fff;
  display: flex;
  justify-content: space-around;
}
.footer__left {
  display: none;
}
.grid_footer {
  align-items: center;
  justify-content: space-around;
}

.footer__center {
  flex: 0.4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
}
.footer__right {
  flex: 0.4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon {
  font-size: 2.2rem !important;
}
.MuiSlider_root {
  color: #00ff00 !important;
  font-size: 2.2rem !important;
}
.shuffle,
.repeat {
  color: #00ff00;
  transition: transform 200ms ease-in-out !important;
}
.shuffle:hover,
.repeat:hover,
.icon:hover {
  transform: scale(1.2);
}
@media screen and (min-width: 768px) {
  .footer {
    margin: 0;
  }
  .footer__left {
    display: inside;
    flex: 0.3;
    display: flex;
    align-items: center;
    min-width: 200px;
  }
  .footer__center {
    flex: 0.3;
  }
  .footer__right {
    flex: 0.3;
  }
}
@media screen and (min-width: 1920px) {
  .footer__left {
    flex: 0.3;
  }
  .footer__center {
    flex: 0.4;
  }
  .footer__right {
    flex: 0.3;
  }
  .shuffle,
  .repeat,
  .icon {
    font-size: 2.5em !important;
  }
  .footer__left h4 {
    font-size: 20px;
  }
  .footer__left p {
    font-size: 17px;
  }
  .footer__left img {
    margin-right: 10px;
  }
}
